@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

/* shared styles */

.noto-serif-font {
  font-family: 'Noto Serif', serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.display-flex {
  display: flex;
}

.repeated-color {
  color: #e95a08;
}

.dark-light {
  color: rgba(0, 0, 0, 0.5);
}

.btn-primary {
  background-color: #e95a08;
  color: white;
  width: 270px;
  height: 50px;
  text-align: center;
  align-items: center;
  justify-content: center;
  border: none;
}
/* navbar and banner related styles */
.navbar,
.banner {
  max-width: 1140px;
  margin: 0 auto;
}

.navbar {
  justify-content: space-between;
}

.nav-links {
  text-decoration: none;
  list-style: none;
  gap: 48px;
}

.banner {
  margin-top: 120px;
}
.banner-details {
  width: 570px;
  height: 300px;
  gap: 13px;
}
.banner-title {
  font-weight: bold;
  font-size: 4rem;
}
.banner-img {
  width: 570px;
  height: 355px;
}
/* card related styles */

main {
  max-width: 1140px;
  margin: 0 auto;
}
.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.card-details {
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 120px;
}
.card-title {
  font-weight: bold;
  font-size: 3rem;
  margin-top: 0;
  margin-bottom: 0;
}
.card-description {
  width: 888px;
  margin-left: 125px;
  margin-right: 125px;
}
.item {
  text-align: center;
}
.price {
  font-weight: bold;
  font-size: 1.5;
}

/* store related styles */

.flowers-store {
  height: 597px;
  margin-top: 210px;
  margin-bottom: 130px;
  justify-content: space-between;
  gap: 200px;
}
.flowers-details {
  width: 540px;
  height: 520px;
  gap: 20px;
  align-items: center;
}
.trusted-badge {
  width: 280px;
  height: 280px;
  position: absolute;
  margin-left: 350px;
  margin-top: -130px;
}

.details-title {
  font-weight: bold;
  font-size: 3rem;
}

/* deals related styles */

.deals-details {
  justify-content: center;
  align-items: center;
  text-align: center;
}
.discount-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.first-bg-img {
  background-image: url(./assets/deal-bloom.png);
  background-repeat: no-repeat;
  width: 367px;
  height: 200px;
  border-radius: 14px;
}
.bloom-flowers {
  color: white;
}
.bloom-flowers a {
  color: white;
}
.deals-title {
  font-weight: bold;
  font-size: 3rem;
}
.discount-details {
  align-items: center;
  text-align: center;
  padding: 65px 50px;
}
.scnd-bg-img {
  background-image: url(./assets/deal-ana.png);
  background-repeat: no-repeat;
  width: 367px;
  height: 200px;
  margin-top: 25px;
  border-radius: 14px;
}
.ana-flowers {
  color: white;
}
.ana-flowers a {
  color: white;
}
.thrd-bg-img {
  background-image: url(./assets/deal-zabo.png);
  background-repeat: no-repeat;
  width: 753px;
  height: 423px;
  border-radius: 22px;
}
.zabo-flowers {
  color: white;
}
.zabo-flowers a {
  color: white;
}
.zabo-discount-details {
  font-weight: bold;
  font-size: 2rem;
  align-items: center;
  text-align: center;
  padding: 130px 200px 150px 200px;
}
.shop-link {
  font-weight: 600;
  font-size: 1.8rem;
}
